{% load static %}
{% load i18n %}


<div class="d-flex flex-column flex-shrink-0 p-1 shadow sidebar-bg sidebar-text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <!-- Home -->
        <li class="nav-item">
            <a href="{% url 'home' %}" 
               class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <i class="bi bi-house-door-fill me-2"></i>
                {% trans "Home" %}
            </a>
        </li>
        <!-- Students -->
        <li>
            <a href="{% url 'student_list' %}" 
                class="nav-link {% if request.resolver_match.url_name|slice:":8" == "student_" %}active{% endif %}">
                <i class="bi bi-person-fill me-2"></i>
                {% trans "Student" %}
            </a>
        </li>
        <!-- Attendance -->
        <li>
            <a href="{% url 'attendance' %}" 
                class="nav-link {% if request.resolver_match.url_name == 'attendance' %}active{% endif %}">
                <i class="bi bi-calendar-check-fill me-2"></i>
                {% trans "Attendance" %}
            </a>
        </li>
        <!-- Teachers -->
        <li>
            <a href="{% url 'teacher_list' %}" 
                class="nav-link {% if request.resolver_match.url_name|slice:":8" == "teacher_" %}active{% endif %}">
                <i class="bi bi-person-badge-fill me-2"></i>
                {% trans "Teacher" %}
            </a>
        </li>
        <!-- Courses -->
        {% if request.user.is_superuser or perms.Quran.view_course %}
            <li>
                <a href="{% url 'course_list' %}" 
                    class="nav-link {% if request.resolver_match.url_name|slice:":7" == "course_" %}active{% endif %}">
                    <i class="bi bi-journal-bookmark-fill me-2"></i>
                    {% trans "Course" %}
                </a>
            </li>
        {% endif %}
        <!-- Groups -->
        <li>
            <a href="{% url 'class_group_list' %}" 
                class="nav-link {% if request.resolver_match.url_name|slice:":12" == "class_group_" %}active{% endif %}">
                <i class="bi bi-people-fill me-2"></i>
                {% trans "Group" %}
            </a>
        </li>
        <!-- Monthly Attendance -->
        <li>
            <a href="{% url 'monthly_attendance' %}" 
                class="nav-link {% if request.resolver_match.url_name == 'monthly_attendance' %}active{% endif %}">
                <i class="bi bi-calendar-check-fill me-2"></i>
                {% trans "Monthly Attendance" %}
            </a>
        </li>
        <!-- Invoice -->
        <li>
            <a href="{% url 'invoice' %}" 
                class="nav-link {% if request.resolver_match.url_name == 'invoice' %}active{% endif %}">
                <i class="bi bi-receipt-cutoff me-2"></i>
                {% trans "Invoice" %}
            </a>
        </li>
        <!-- Payment Status -->
        <li>
            <a href="{% url 'payment_status' %}" 
                class="nav-link {% if request.resolver_match.url_name == 'payment_status' %}active{% endif %}">
                <i class="bi bi-receipt-cutoff me-2"></i>
                {% trans "Payment Status" %}
            </a>
        </li>
        <!-- Summary Report -->
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'summary_report' %}" 
                    class="nav-link {% if request.resolver_match.url_name == 'summary_report' %}active{% endif %}">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    {% trans "Summary Report" %}
                </a>
            </li>
        {% endif %}
    </ul>

    <a href="{% url 'home' %}" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-decoration-none">
        <img src="{% static 'logo.png' %}" alt="{% trans 'Quran App Logo' %}" style="width: 160px; height: 160px; border-radius: 50%;">
    </a>
    <hr>

    <!-- Language -->
    <form action="{% url 'set_language' %}" method="post" class="mb-3">
        {% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        <select name="language" class="form-select" onchange="this.form.submit()">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
            <option value="ar" {% if LANGUAGE_CODE == 'ar' %}selected{% endif %}>{% trans "Arabic" %}</option>
        </select>
    </form>
    
    <!-- Logout -->
    <form action="{% url 'logout' %}" method="post" class="mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-light btn w-100 d-flex align-items-center justify-content-center">
            {% trans "Sign out" %}
        </button>
    </form>
</div>
